:host {
  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );
}

.divider {
  width: 1px;
  background: var(--red-to-pink-to-purple-vertical-gradient);
  margin-inline: 0.5rem;
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    margin-block: 1.5rem;
  }
}

.horizontal-divider {
  height: 2px;
  width: 100%;
  background: var(--red-to-pink-to-purple-horizontal-gradient);
  margin-block: 1.5rem;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

#map {
  height: 400px;
  width: 100%;
  margin-top: 1rem;
}

div {
  display: flex;
  flex-direction: column;
}
